<div class="sidebar pure-u-1 pure-u-md-1-5">
    <div class="header">
        <hgroup>
            <h1 class="brand-title"><a href="{{ .Site.BaseURL }}">{{ .Site.Title }}</a></h1>
            <h2 class="brand-tagline">{{ with .Site.Params.description }} {{.}} {{end}}</h2>
        </hgroup>

        <nav class="nav">
            <ul class="nav-list">
                {{ with .Site.Params.twitterUrl }}
                <li class="nav-item">
                    <a class="pure-button" href="{{ . }}">
                        <i class="fa fa-twitter" style="font-size:28px;"></i>
                    </a>
                </li>
                {{ end }}
                {{ with .Site.Params.linkedinUrl }}
                <li class="nav-item">
                    <a class="pure-button" href="{{ . }} ">
                        <i class="fa fa-linkedin-square" style="font-size:28px;"></i>
                    </a>
                </li>
                {{ end }}
                {{ with .Site.Params.githubUrl }}
                <li class="nav-item">
                    <a class="pure-button" href="{{ . }} ">
                        <i class="fa fa-github" style="font-size:28px;"></i>
                    </a>
                </li>
                {{ end }}
            </ul>
        </nav>
    </div>
</div>
